<div class="panel panel-primary">
    <div class="panel-heading">
      

      <h2>Admin List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let branche of branches | async">
            <td>{{branche.nom}}</td>
            <td>
              <button routerLink="updateBranche/{{branche.id}}"  class="btn btn-info" style="margin-left: 10px">update</button>
              <button (click)="deleteBranche(branche.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  