<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-between">
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Users Management  </h5>
                    <a  routerLink="user" class="btn btn-primary">Go to user list</a>

                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Admin Management</h5>
                    <a routerLink="adminList" class="btn btn-primary">Go Admin List</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Student Management</h5>
                    <a routerLink="studentList" class="btn btn-primary">Go Student List</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Teacher Management</h5>
                    <a routerLink="teacherList"class="btn btn-primary">Go Teacher List</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Matiere Management</h5>
                    <a routerLink="matiereList" class="btn btn-primary">Go Matiere</a>
                </div>
            </div>
            <div class="card shadow mt-2">
                <div class="card-body">
                    <h5 class="card-title">Branche Management</h5>
                    <a routerLink="brancheList" class="btn btn-primary">Go Branche List</a>
                </div>
            </div>
        </div>
    </div>
</div>
